In [3]:
import pandas as pd
import numpy as np

In [4]:
data1= pd.read_csv("customer- for odinal encoding.csv")

In [6]:
data1.head(10)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No
5   31  Female  Average    School       Yes
6   18    Male     Good    School        No
7   60  Female     Poor    School       Yes
8   65  Female  Average        UG        No
9   74    Male     Good        UG       Yes

In [ ]:
#Looking at the data, we will see, what all data is Ordinal here
# we can see purchased, review and education variables are ordinal.
# Here we will perform ordinal encoding

# Ordinal Encoding

In [57]:
df1= data1.iloc[:,2:]
df1.head(31)

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split (df1.iloc[:,0:2], df1.iloc[:,-1], test_size=0.2)

In [39]:
X_train.head(5)

     review education
20  Average    School
30  Average        UG
3      Good        PG
26     Poor        PG
41     Good        PG

In [34]:
data1['review'].unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [40]:
# Here we can select the numbering order of the data. starting from 0 to 2, showcasing there importance
oe= OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [42]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [43]:
X_train= oe.transform(X_train)
X_test= oe.transform(X_test)

In [45]:
X_train

array([[1., 0.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [1., 2.],
       [0., 2.],
       [2., 0.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [0., 1.],
       [2., 2.],
       [1., 2.],
       [0., 0.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [2., 1.],
       [2., 1.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [2., 1.],
       [1., 1.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [2., 1.],
       [0., 2.]])

In [46]:
oe.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

# using label encoding 
it is explicitly used for target cloumn

In [48]:
from sklearn.preprocessing import LabelEncoder

In [49]:
#here you dont have the option to select the order of data. 'Yes' can get '1' or '0' randomly
le= LabelEncoder()

In [50]:
le.fit(Y_train)

LabelEncoder()

In [53]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [54]:
Y_train= le.transform(Y_train)
Y_test= le.transform(Y_test)

In [55]:
Y_train

array([1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1])

In [ ]:
#we can compare the answers with X train values